body {
			margin: 10px;
		}
		
		.body-parent{
			display: flex;
			flex-direction: row;
		}
		
		.left-side{
			width: 40%;
			margin: 10px;
			align-items: center;
			background-color: #1e1f1e;
			border-radius: 30px;
			padding: 20px;
		}
		
		.right-side{
			width: 60%;
			margin: 10px;
			align-items: center;
			background-color: #1e1f1e;
			border-radius: 30px;
			padding: 40px;
		}
		
		.header-icon{
			margin-top: 10px;
			margin-bottom: -20px;
			justify-content: center;
			display: flex;
		}
		
		.header-icon > img{
			align: center;
			height: 100px;
		}
		
		.header-title{
			color: white;
			
		}
		
		.header-title > h1{
			font-size: 45px;	
			text-align: center;
			font-family: bahnschrift;
			margin-bottom: 0px;	
		}
		
		.header-title > h2{
			color: white;
			font-size: 20px;
			text-align: center;
			margin-top: -5px;
			font-family: bahnschrift;
		}
		
		hr{
			height: 1px;
			background-color: white;
			margin-bottom: 20px;
		}
		
		.input-area{
			display: flex;
			flex-direction: column;
			align-items: left;
			padding-left: 70px;
			
		}
		
		.input-field{
			display: flex;
			width: 100%;
			margin: 3px;
		}
		
		label{
			color: white;
			font-family: bahnschrift;
			
		}
		
		.block > label{
			padding-right: 70px;
		}
		
		.cachetime > label{
			padding-right: 10px;
		}

		.mmtime > label{
			padding-right: 10px;
		}
		
		.set > label{
			padding-right: 86px;
		}
		
		.mm > label{
			padding-right: 22px;
		}
		
		.cm > label{
			padding-right: 3px;
		}
		
		.progflow > label{
			padding-right: 42px;
		}
		
		input{
			width: 150px;
			font-family: bahnschrift;
		}
		
		select{
			width: 85px;
			padding-left: 10px;
			margin-left: 5px;
			background-color: white;
			font-family: bahnschrift;
		}
		
		option{
			font-family: bahnschrift;
		}

		.submitexport{
			margin-top: 10px;
			display: flex;
			margin-left: 100px;
			margin-right: 100px;
			align-items: center;
		}

		.submitexport > input{
			height: 35px;
			width: 100%;
			background-color: green;
			border-color: green;
			color: white;
			margin-bottom: 15px;
		}
		
		.submitinput{
			margin-top: 10px;
			display: flex;
			margin-left: 215px;
			margin-right: 78px;
			align-items: center;
		}
		
		.submitinput > input{
			height: 35px;
			width: 100%;
			background-color: green;
			border-color: green;
			color: white;
			margin-bottom: 15px;
		}
		
		.simulresults-header > h1{
			color: white;
			font-size: 23px;
			text-align: center;
			margin-top: -8px;
			margin-bottom: -5px;
			font-family: bahnschrift;
		}
		
		.simulresults-field{
			background-color: white;
			border-radius: 15px;
			height: 140px;
		}
		
		.simulresults-field > p{
			font-size: 15px;
			text-align: left;
			padding: 10px;
			font-family: bahnschrift;
		}
		
		table{
			width: 100%;
			font-family: bahnschrift;
			border: 3px solid white;
			border-radius: 10px;
		}
		
		th{
			width: 33.33%;
			height: 40px;
			color: white;
			background-color: green;
			border-radius: 3px;
			font-size: 20px;
			text-align: center
		}
		
		td{
			background-color: white;
			border-radius: 3px;
			font-size: 15px;
			text-align: center
		}
		